 <!-- <h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" />
        <div *ngIf="submitted && f?.['username']?.['errors']" class="invalid-feedback">
            <div *ngIf=" f?.['username']?.['errors']?.['required']">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"  />
        <div *ngIf="submitted &&f?.['password']?.['errors']" class="invalid-feedback">
            <div *ngIf="f?.['password']?.['errors']?.['required']">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
    </div>
</form> - -->





<div class="main-bg">
  <div class="container">
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card shadow">
            <div class="card-title text-center border-bottom">
              <h2 class="p-3">Login</h2>
            </div>
            <div class="card-body">
              <form [formGroup]="loginForm">
                <div class="mb-4">
                  <label for="username" class="form-label">Username/Email</label>
                  <input type="text" formControlName="username" class="form-control"  id="username" />
                  <div *ngIf="submitted && f?.['username']?.['errors']" class="invalid-feedback">
                    <div *ngIf=" f?.['username']?.['errors']?.['required']">Username is required</div>
                </div>
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password"  formControlName="password" />
                  <div *ngIf="submitted &&f?.['password']?.['errors']" class="invalid-feedback">
                    <div *ngIf="f?.['password']?.['errors']?.['required']">Password is required</div>
                </div>
                </div>
                <div class="d-grid mb-3">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

